.hooks-main > div {
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    opacity: 1;
    pointer-events: none;
}

.hooks-main > div::after {
    position: absolute;
    pointer-events: none;
}

.hooks-main {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: auto;
}
