.node-master > div:first-child {
    height: 100vh;
}

.scrollbar::after {
    display: "none";
}

.cursor {
    width: 145px;
    height: 145px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 0.5s infinite alternate;
    pointer-events: none;
    font: normal normal bold 27px/33px Helvetica Neue;
    letter-spacing: 2.7px;
    color: #ffffff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellowPic {
    background-color: rgba(0, 0, 0, 0.1);
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid white;
}

.theBall,
.theBall-outer {
    mix-blend-mode: exclusion;
    width: 70px;
    height: 70px;
}
.theBall-outer {
    position: fixed;
    top: -45px;
    left: -35px;
    z-index: 5000;
    pointer-events: none !important;
    cursor: all-scroll !important;
}
.theBall-hidden {
    opacity: 0;
}
.theBall {
    position: absolute;
    background-color: whitesmoke;
    border-radius: 50%;
    -webkit-transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: center center;
}
.dark_page .theBall,
.coloring .theBall {
    background-color: blue;
}
