$bg-color: transparent linear-gradient(90deg, #1fe1e9 0%, #5e33d1 34%, #d34848 65%, #ffb33f 100%) 0% 0% no-repeat
  padding-box;

[class*="btn-"] {
  outline: 0;
  cursor: pointer;
  border-radius: 79px;
  font: normal normal bold 23px/28px Helvetica Neue;
  letter-spacing: 2.3px;
  overflow: hidden;
  position: relative; //absolute
  margin-top: 31px;
  width: 284px;
  height: 79px;
  background: $bg-color;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.7);
  }
}

[class*="btn-mix"] {
  &::after {
    background: $bg-color;
    border-radius: 79px;
    content: attr(data-text);
    color: #fff;
    top: 25px;
    height: 27px;
    left: 63px;
    -moz-user-select: none;
    user-select: none;
    user-drag: none;
  }
  &::before {
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5), -4em -2em 2em 2em rgba(255, 0, 150, 0.5),
      -4em 2em 2em 4em rgba(0, 0, 150, 0.5), 0 -3em 2em 3em rgba(31, 225, 233, 0.8);
    width: 0;
    height: 0;
    animation: mix 4s linear infinite;
  }
}

[class*="btntry"] {
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 4.4px;
  overflow: hidden;
  position: relative; //absolute
  width: 224px;
  background: $bg-color;
  height: 79px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.7);
  }
}

[class*="btntry-try"] {
  &::after {
    background: $bg-color;
    border-radius: 79px;
    content: attr(data-text);
    color: #fff;
    top: 18px;
    left: 56px;
    -moz-user-select: none;
    user-select: none;
    user-drag: none;
  }
  &::before {
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5), -4em -2em 2em 2em rgba(255, 0, 150, 0.5),
      -4em 2em 2em 4em rgba(0, 0, 150, 0.5), 0 -3em 2em 3em rgba(31, 225, 233, 0.8);
    width: 0;
    height: 0;
    animation: mix 4s linear infinite;
  }
}

[class*="btndown"] {
  outline: 0;
  cursor: pointer;
  border-radius: 79px;
  font: normal normal bold 19px/24px Helvetica Neue;
  letter-spacing: 1.9px;
  overflow: hidden;
  position: relative; //absolute
  width: 217px;
  background: $bg-color;
  height: 60px;
  margin-top: 69px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.7);
  }
}

[class*="btndown-down"] {
  &::after {
    background: $bg-color;
    border-radius: 79px;
    content: attr(data-text);
    color: #fff;
    top: 18px;
    left: 45px;
    -moz-user-select: none;
    user-select: none;
    user-drag: none;
  }
  &::before {
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5), -4em -2em 2em 2em rgba(255, 0, 150, 0.5),
      -4em 2em 2em 4em rgba(0, 0, 150, 0.5), 0 -3em 2em 3em rgba(31, 225, 233, 0.8);
    width: 0;
    height: 0;
    animation: mix 4s linear infinite;
  }
}

@keyframes mix {
  30% {
    box-shadow: 0 -1em 2em 3em rgba(211, 72, 72, 1), 4em -1em 2em 3em rgba(255, 179, 63, 1),
      -4em 2em 3em 2em rgba(94, 51, 209, 1), -4em -2em 2em 2em rgba(31, 225, 233, 1);
  }
  60% {
    box-shadow: 2em 1em 2em 3em rgba(94, 51, 209, 1), 3em 1em 2em 3em rgba(31, 225, 233, 0.8),
      3em -2em 3em 3em rgba(31, 225, 233, 1), -4em 2em 2em 3em rgba(200, 0, 50, 0.8),
      0 -3em 2em 3em rgba(31, 225, 233, 1), -2em 1em 2em 3em rgba(50, 210, 250, 0.8);
  }
}

.btn-mix-noborder {
  &::after {
    background: transparent !important;
    color: $bg-color !important;
  }
}

.btntry-try-noborder {
  &::after {
    background: transparent !important;
    color: $bg-color !important;
  }
}

[class*="btntryget"] {
  outline: 0;
  cursor: pointer;
  border-radius: 79px;
  font: normal normal bold 29px/35px Helvetica Neue;
  letter-spacing: 2.9px;
  overflow: hidden;
  position: relative; //absolute
  width: 360px;
  background: $bg-color;
  height: 100px;
  margin-top: 69px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.7);
  }
}

[class*="btntryget-try"] {
  &::after {
    background: $bg-color;
    border-radius: 79px;
    content: attr(data-text);
    color: #fff;
    top: 33px;
    left: 81px;
    -moz-user-select: none;
    user-select: none;
    user-drag: none;
  }
  &::before {
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5), -4em -2em 2em 2em rgba(255, 0, 150, 0.5),
      -4em 2em 2em 4em rgba(0, 0, 150, 0.5), 0 -3em 2em 3em rgba(31, 225, 233, 0.8);
    width: 0;
    height: 0;
    animation: mix 4s linear infinite;
  }
}

.btntryget-try-noborder {
  &::after {
    background: transparent !important;
    color: $bg-color !important;
  }
}

.btndown-down-noborder {
  &::after {
    background: transparent !important;
    color: $bg-color !important;
  }
}
$duration: 1.5s;

.loading_line_wrapper {
  transform: rotate(90deg) translate(34px, 32px);
  height: 2px;
  width: 65px;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
}

.loading_line {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%;
  transform-origin: 100% 0%;
  animation: kf_loading_line $duration cubic-bezier(0.645, 0.045, 0.355, 1) 0s infinite;

  .loading_line_inner {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: 0% 0%;
  }
}
.loading_line_inner--1 {
  opacity: 0; //change for inner line opacity, currently 0/hidden
  animation: kf_loading_line_inner--1 $duration cubic-bezier(0.645, 0.045, 0.355, 1) 0s infinite;
}

.loading_line_inner--2 {
  opacity: 1;
  animation: kf_loading_line_inner--2 $duration cubic-bezier(0.645, 0.045, 0.355, 1) 0s infinite;
}

.loading_line_inner {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%;
  background-color: red;
  transform-origin: 0% 0%;
}

@keyframes kf_loading_line {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes kf_loading_line_inner--1 {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes kf_loading_line_inner--2 {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
