.button-perk {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 44%, #D34848 74%, #FFB33F 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 79px;
    margin-top: 47px;
    box-shadow: 0px 2px 2px #00000029;
    width: 250px;
    height: 62px;
}
.button-perk span {
    position: relative;
    pointer-events: none;
}
.button-perk::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #d34848 0%, #5e33d1 50%, transparent);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}
.button-perk:hover::before {
    --size: 400px;
}

.btn-txt-perk {
    text-align: left;
    font: normal normal bold 18px/23px Helvetica Neue;
    letter-spacing: 1.8px;
    color: #ffffff;
    opacity: 1;
}
