.button-yellow {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 79px;
    width: 338px;
    height: 81px;
}
.button-yellow span {
    position: relative;
    pointer-events: none;
}
.button-yellow::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #5e33d1 -3%, #d34848 62%, transparent);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
}
.button-yellow:hover::before {
    --size: 350px;
}

.button-yellow-try {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 79px;
    width: 248px;
    margin-top: 66px;
    height: 62px;
}
.button-yellow-try span {
    position: relative;
    pointer-events: none;
}

.button-yellow-try::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #5e33d1 -3%, #d34848 62%, transparent);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
}
.button-yellow-try:hover::before {
    --size: 400px;
}

.button-yellow:hover > span {
    color: #ffffff;
}

.button-yellow-try:hover > span {
    color: #ffffff;
}

.button-txt-yellow-try {
    text-align: left;
    font: normal normal bold 18px/23px Helvetica Neue;
    letter-spacing: 1.8px;
    color: #ffb33f;
    opacity: 1;
}

.button-txt-review-try {
    text-align: left;
    font: normal normal bold 18px/23px Helvetica Neue;
    letter-spacing: 1.8px;
    color: #1fe1e9;
    opacity: 1;
}

.button-txt-yellow {
    text-align: left;
    font: normal normal bold 23px/28px Helvetica Neue;
    letter-spacing: 2.3px;
    color: #ffb33f;
    opacity: 1;
}

.txt-h2 {
    color: #191919;
    letter-spacing: 5.1px;
}

.txt-h1 {
    background-image: radial-gradient(circle closest-side, #30EAEA -3%, #30EAEA 0%, #2DDBBA 90%, transparent);
    opacity: 0;
    background-size: 0px;
}

.txt-h1:hover {
    background-size: 250px 250px;
    opacity: 1;
    background-position: var(--x) var(--y);
}

.txt-h2 {
    background-image: radial-gradient(circle closest-side, #30EAEA -3%, #30EAEA 0%, #2DDBBA 90%, transparent);
    opacity: 0;
    background-size: 0px;
}

.txt-h2:hover {
    background-size: 250px 250px;
    opacity: 1;
    background-position: var(--x) var(--y);
}

