@media only screen and (min-width: 1024px) {
    .layer-5 {
        background-image: url(../pictures/Yellow/layer_5.png);
        width: 30vw !important;
        height: 113vh !important;
        margin-top: 17%;
        margin-left: 19%;
    }
    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100vw;
        height: 130vh;
        position: fixed;
        z-index: -1;
    }
}

@media only screen and (min-width: 1280px) {
    .layer-5 {
        background-image: url(../pictures/Yellow/layer_5.png);
        width: 26vw !important;
        height: 113vh !important;
        margin-top: 17%;
        margin-left: 19%;
    }
    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100vw;
        height: 130vh;
        position: fixed;
        z-index: -1;
    }
}

@media only screen and (min-width: 1366px) {
    .layer-5 {
        background-image: url(../pictures/Yellow/layer_5.png);
        width: 26vw !important;
        height: 113vh !important;
        margin-top: 17%;
        margin-left: 19%;
    }
    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100vw;
        height: 130vh;
        position: fixed;
        z-index: -1;
    }
}

@media only screen and (min-width: 1440px) {
    .layer-5 {
        background-image: url(../pictures/Yellow/layer_5.png);
        width: 25vw !important;
        height: 123vh !important;
        margin-top: 17%;
        margin-left: 19%;
    }
    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100vw;
        height: 130vh;
        position: fixed;
        z-index: -1;
    }
}

@media only screen and (min-width: 1600px) {
    .layer-5 {
        background-image: url(../pictures/Yellow/layer_5.png);
        width: 17vw !important;
        height: 110vh !important;
        margin-top: 17%;
        margin-left: 24%;
    }
    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100vw;
        height: 130vh;
        position: fixed;
        z-index: -1;
    }
}


@media only screen and (min-width: 1700px) {
    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100vw;
        height: 130vh;
        position: fixed;
        z-index: -1;
    }
    .layer-5 {
        background-image: url(../pictures/Yellow/layer_5.png);
        width: 17vw;
        height: 90vh;
        margin-top: 17%;
        margin-left: 24%;
    }
}

.layer-bg {
    background-image: url(../pictures/Yellow/layer-bg.png);
}
.layer-1 {
    background-image: url(../pictures/Yellow/layer_1.png);
    background-position: left bottom;
}
.layer-2 {
    background-image: url(../pictures/Yellow/layer_2.png);
    background-position: left bottom;
}
.layer-3 {
    background-image: url(../pictures/Yellow/layer_3.png);
    background-position: right bottom;
    margin-top: 5%;
}
.layer-4 {
    background-image: url(../pictures/Yellow/layer_4.png);
}

.rating {
    height: 40px;
}

.rating * > span {
    width: 40px;
}
